[submodule "etm"]
	path = etm
	url = https://github.com/elastest/elastest-torm.git
[submodule "edm"]
	path = edm
	url = https://github.com/elastest/elastest-data-manager.git
[submodule "esm"]
	path = esm
	url = https://github.com/elastest/elastest-service-manager.git
[submodule "eim"]
	path = eim
	url = https://github.com/elastest/elastest-instrumentation-manager.git
[submodule "epm"]
	path = epm
	url = https://github.com/elastest/elastest-platform-manager.git
[submodule "emp"]
	path = emp
	url = https://github.com/elastest/elastest-monitoring-platform.git
[submodule "eus"]
	path = eus
	url = https://github.com/elastest/elastest-user-emulator-service.git
[submodule "eds"]
	path = eds
	url = https://github.com/elastest/elastest-device-emulator-service.git
[submodule "ess"]
	path = ess
	url = https://github.com/elastest/elastest-security-service.git
[submodule "ems"]
	path = ems
	url = https://github.com/elastest/elastest-monitoring-service.git
[submodule "ebs"]
	path = ebs
	url = https://github.com/elastest/elastest-bigdata-service.git
[submodule "ece"]
	path = ece
	url = https://github.com/elastest/elastest-cost-engine.git
